body {
  background-color: #ededed !important;
}

.container{
  padding:30px;
}

.title{
  width:100%;
  text-align:center;
  height:80px;
}

.err-msg{
  color:red !important;
}

/* Bootstrap css */
.jumbotron{
  background-color:white !important;
  font-size:20px;
  -webkit-box-shadow: -4px 7px 37px -10px rgba(0,0,0,0.43);
  -moz-box-shadow: -4px 7px 37px -10px rgba(0,0,0,0.43);
  box-shadow: -4px 7px 37px -10px rgba(0,0,0,0.43);
}

.form{
}

.line{

  border: 1px solid #bbbbbb;
}

.alert-danger{
  font-size:20px !important;
}

.alert-success{
  font-size:20px !important;
  width:80% !important;
}

/* Dashboard page styling */
.main{

  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding:50px
}

.posts{
  width:100% !important;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.post{
  background-color:white !important;
  display:flex;
  flex-direction: column;
  width:70%;
  padding:20px;
  margin:20px;
  font-size:20px;
  -webkit-box-shadow: 3px 4px 21px 0px rgba(0,0,0,0.32);
-moz-box-shadow: 3px 4px 21px 0px rgba(0,0,0,0.32);
box-shadow: 3px 4px 21px 0px rgba(0,0,0,0.32);
}

.post_header{
  display:flex;
  flex-direction:row;
  margin-bottom:10px;
}

.post_footer{
  display:flex;
  flex-direction:row;
  margin-top:10px;
}

.post_user{
  margin-right:5px;
}

.post_text{
  margin:10px;
}

.post_date, .post_like, .post_dislike{
  margin-right:10px;
}

.post_like, .post_dislike{
  cursor:pointer;
  color:#6a6a6a !important;
}

i:hover{
  color:#949494;
}

.comment{
  background-color:#f0f0f0 !important;
  padding:10px;
  margin:20px;
}
